canvas {
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.eachCustom {
  border: 1px solid transparent;
  border-radius: 15px;
}
.eachCustom:hover {
  border: 1px solid #cecece;
  border-radius: 15px;
  cursor: pointer;
}
.ItemList{
  overflow-y: scroll;
  overflow-y: overlay;
  max-height: 35vh;
}
.ItemList::-webkit-scrollbar {
  
  width: 10px;
}
.ItemList::-webkit-scrollbar-track {
  background: #cecece;
  border-radius: 10px;
}
.ItemList::-webkit-scrollbar-thumb {
  background: #FF5757;
  border-radius: 10px;
}

.ItemList::-webkit-scrollbar-thumb:hover {
  background: #ff6b48;
  border-radius: 10px;
}

.ItemList::-webkit-scrollbar-thumb:active {
  background: #ff6b48;
  border-radius: 10px;
}